<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeProject</title>
</head>

<body>
    <div class="container">
        <h1>Answer the question!</h1>
        <form action="#" th:action="@{/form-success}" th:object="${questionnaire}" method="post">
            <div class="field"><span th:text="${question}"> <input type="text" th:field="*{answer}" /></div>
            <div class="radio-container">
                <div th:each="answerItem : ${answers}"class="radio-item">
                    <input type="radio" th:field="*{answer}" required th:value="${answerItem}" />
                    <label th:text="${answerItem}"></label>
                </div>
            </div>
            <div class="button-container">
                <input type="submit" value="Submit" />
            </div>
        </form>
        <!-- <h1>Fire attribute: <span th:text="${attributes.fireAttribute}"></span></h1> -->
    </div>
</body>

</html>