<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PokeProject</title>
    <link rel="stylesheet" th:href="@{style.css}" />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      Your reincarnation name is ...
      <h1 th:text="${inputPokemon.name}"></h1>
      <h3 th:text="${inputPokemon.typeToString()} + ' like ' + ${inputPokemon.type1}"></h3>
      <form
      action="#"
      th:action="@{/generate}"
      th:object="${inputPokemon}"
      method="post"
    >
      <div class="button-container">
        <a href="/generate">
          <img
            src="https://pngimg.com/uploads/pokeball/pokeball_PNG24.png"
            alt="pokeball"
          />
          <input type="submit" value="-generate again-">
        </input>
          </a
        >
      </div>
    </form>
    </div>
  </body>
</html>
