<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PokeProject</title>
    <link rel="stylesheet" th:href="@{style.css}" />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a class="stonks" href="./">Home</a>
    </nav>
    <div class="container">
      This is Poképroject
      <br> <br>
        <div class="button-container">
          <a href="/pokeform">
            <img
              src="https://pngimg.com/uploads/pokeball/pokeball_PNG24.png"
              alt="pokeball"
            />
            <input type="submit" value="Take a personality test">
          </input>
            </a
          >
        </div>
        or
      <form
        action="#"
        th:action="@{/generate}"
        th:object="${inputPokemon}"
        method="post"
      >
        <div class="button-container">
            <img
              src="https://pngimg.com/uploads/pokeball/pokeball_PNG24.png"
              alt="pokeball"
            />
            <input type="submit" value="Generate Random Pokemon">
          </input>
        </div>
      </form>
      <div class="table-container" style="margin-top:40px">
        <ul class="stonks">
          <li>Antonius Anggito</li>
          <li>Jonathan Nicholas</li>
          <li>Mario Serano</li>
          <li>Teofanus Gary</li>
        </ul>
      </div>
    </div>
  </body>
</html>
